In [195]:
import json
import numpy as np
import pandas as pd
import countryflag

In [2]:
with open('./azar_apply.json') as f:
    data = json.load(f)

In [3]:
data.keys()

dict_keys(['name', 'type', 'id', 'messages'])

In [4]:
df = pd.DataFrame(i for i in data['messages'])

In [5]:
df.drop(columns=['poll', 'reply_to_message_id', 'duration_seconds', 'media_type', 'thumbnail', \
                 'forwarded_from', 'height', 'width', 'photo', 'mime_type', 'action', 'actor_id', \
                'file', 'from', 'message_id', 'title', 'actor', 'from_id', 'edited', 'edited_unixtime', 'date_unixtime', 'id'],
inplace=True)

In [6]:
df = df[df['type'] == 'message']

In [7]:
df

,type,date,text,text_entities
2,message,2019-02-26T02:47:34,[💯 گروه آذراپلای فرصت ویژه را برای داوطلبان ا...,"[{'type': 'plain', 'text': '💯 گروه آذراپلای ف..."
3,message,2019-02-28T19:50:06,[💎تاریخ آزمون یوس ۲۰۱۹ دانشگاه دولتی فیرات شهر...,"[{'type': 'plain', 'text': '💎تاریخ آزمون یوس ۲..."
4,message,2019-02-28T19:52:13,"[نمونه سوالات دانشگاه فیرات \n, {'type': 'ment...","[{'type': 'plain', 'text': 'نمونه سوالات دانشگ..."
5,message,2019-03-04T18:28:09,[⭕️⭕️لیست جدید دانشگاهای مورد تایید وزارت علوم...,"[{'type': 'plain', 'text': '⭕️⭕️لیست جدید دانش..."
6,message,2019-03-07T12:58:03,[⛔️تغيير ساعت ازمون دانشگاه اتاتورك\n\nزمان از...,"[{'type': 'plain', 'text': '⛔️تغيير ساعت ازمون..."
...,...,...,...,...
8642,message,2024-01-28T16:59:59,"[🇦🇹 PhD Position, Austrian Center for Medical ...","[{'type': 'plain', 'text': '🇦🇹 PhD Position, A..."
8643,message,2024-01-28T17:42:13,"[🇺🇸 PhD Position, North Carolina A&T State Uni...","[{'type': 'plain', 'text': '🇺🇸 PhD Position, N..."
8644,message,2024-01-28T17:57:45,"[🇨🇦 Postdoctoral Position, University of Briti...","[{'type': 'plain', 'text': '🇨🇦 Postdoctoral Po..."
8645,message,2024-01-28T18:01:47,"[🇦🇺 Postdoctoral Position, Monash University, ...","[{'type': 'plain', 'text': '🇦🇺 Postdoctoral Po..."
8646,message,2024-01-29T08:48:49,"[🇦🇺 PhD Position, UNSW, Australia \n\n- Civil ...","[{'type': 'plain', 'text': '🇦🇺 PhD Position, U..."

In [8]:
del df['type']

In [9]:
df

,date,text,text_entities
2,2019-02-26T02:47:34,[💯 گروه آذراپلای فرصت ویژه را برای داوطلبان ا...,"[{'type': 'plain', 'text': '💯 گروه آذراپلای ف..."
3,2019-02-28T19:50:06,[💎تاریخ آزمون یوس ۲۰۱۹ دانشگاه دولتی فیرات شهر...,"[{'type': 'plain', 'text': '💎تاریخ آزمون یوس ۲..."
4,2019-02-28T19:52:13,"[نمونه سوالات دانشگاه فیرات \n, {'type': 'ment...","[{'type': 'plain', 'text': 'نمونه سوالات دانشگ..."
5,2019-03-04T18:28:09,[⭕️⭕️لیست جدید دانشگاهای مورد تایید وزارت علوم...,"[{'type': 'plain', 'text': '⭕️⭕️لیست جدید دانش..."
6,2019-03-07T12:58:03,[⛔️تغيير ساعت ازمون دانشگاه اتاتورك\n\nزمان از...,"[{'type': 'plain', 'text': '⛔️تغيير ساعت ازمون..."
...,...,...,...
8642,2024-01-28T16:59:59,"[🇦🇹 PhD Position, Austrian Center for Medical ...","[{'type': 'plain', 'text': '🇦🇹 PhD Position, A..."
8643,2024-01-28T17:42:13,"[🇺🇸 PhD Position, North Carolina A&T State Uni...","[{'type': 'plain', 'text': '🇺🇸 PhD Position, N..."
8644,2024-01-28T17:57:45,"[🇨🇦 Postdoctoral Position, University of Briti...","[{'type': 'plain', 'text': '🇨🇦 Postdoctoral Po..."
8645,2024-01-28T18:01:47,"[🇦🇺 Postdoctoral Position, Monash University, ...","[{'type': 'plain', 'text': '🇦🇺 Postdoctoral Po..."
8646,2024-01-29T08:48:49,"[🇦🇺 PhD Position, UNSW, Australia \n\n- Civil ...","[{'type': 'plain', 'text': '🇦🇺 PhD Position, U..."

In [10]:
'PhD' in df['text'][8642][0]

True

In [11]:
positions = []
x = []
for msg in df['text']:
    try:
        if 'Position' in msg[0]:
            # print(msg)
            # print(pd.Series(msg))
            positions.append(msg)
            # print(positions)
    except:
        x.append(msg)

In [12]:
len(positions)

1569

In [13]:
len(x)

252

In [14]:
positions = pd.DataFrame(positions)

In [15]:
emails = pd.DataFrame([*positions[1]])

In [16]:
emails

         type                                               text href
0     hashtag                                       #آموزش_اپلای  NaN
1     hashtag                                       #آموزش_اپلای  NaN
2       email                                  yiwang@cec.sc.edu  NaN
3     hashtag                                            #مکانیک  NaN
4     hashtag                                          #کامپیوتر  NaN
...       ...                                                ...  ...
1564    email                     sepideh.hatamikia@dp-uni.ac.at  NaN
1565    email                              asadeghkhani@ncat.edu  NaN
1566     link                           https://lnkd.in/g7_zR-23  NaN
1567     bold               Organic/Organometallic Chemistry\n\n  NaN
1568     link  https://azarapply.ir/blog/%D9%BE%D9%88%D8%B2%D...  NaN

[1569 rows x 3 columns]

In [17]:
del emails['href']

In [18]:
emails = emails[emails['type'] == 'email']

In [19]:
emails

       type                            text
2     email               yiwang@cec.sc.edu
9     email      berrak.sisman@utdallas.edu
13    email          mzeinali@laurentian.ca
16    email                  huilin@uri.edu
21    email  charlene.boumendil@igh.cnrs.fr
...     ...                             ...
1525  email               samori@unistra.fr
1553  email                mtaheri@tamu.edu
1555  email               mabdalah@ieee.org
1564  email  sepideh.hatamikia@dp-uni.ac.at
1565  email           asadeghkhani@ncat.edu

[254 rows x 2 columns]

In [20]:
positions = positions[0]

In [21]:
positions = pd.DataFrame(positions)

In [22]:
positions['text'] = positions[0]

In [23]:
del positions[0]

In [24]:
positions

                                                   text
0     ✅ اصطلاحات اپلای\n\n👉 Scholarship, Fund, Grant...
1     ✅ اصطلاحات اپلای\n\n👉 Scholarship, Fund, Grant...
2     🇺🇸 پوزیشن ارشد، دکتری و پست داک در دانشگاه کار...
3               🇨🇭 PhD Position, ETH Switzerland\n\n☑️
4     🇩🇪 Research Associate Position, University of ...
...                                                 ...
1564  🇦🇹 PhD Position, Austrian Center for Medical I...
1565  🇺🇸 PhD Position, North Carolina A&T State Univ...
1566  🇨🇦 Postdoctoral Position, University of Britis...
1567  🇦🇺 Postdoctoral Position, Monash University, A...
1568  🇦🇺 PhD Position, UNSW, Australia \n\n- Civil e...

[1569 rows x 1 columns]

In [25]:
positions = positions[2:]

In [26]:
positions = positions.assign(emails=emails['text'])

In [27]:
positions

,text,emails
2,🇺🇸 پوزیشن ارشد، دکتری و پست داک در دانشگاه کار...,yiwang@cec.sc.edu
3,"🇨🇭 PhD Position, ETH Switzerland\n\n☑️",NaN
4,"🇩🇪 Research Associate Position, University of ...",NaN
5,"🇺🇸 Job Position, USA\n\n☑️ Power Electrical En...",NaN
6,"🇩🇪 Research Associate Position, TU Dresden, Ge...",NaN
...,...,...
1564,"🇦🇹 PhD Position, Austrian Center for Medical I...",sepideh.hatamikia@dp-uni.ac.at
1565,"🇺🇸 PhD Position, North Carolina A&T State Univ...",asadeghkhani@ncat.edu
1566,"🇨🇦 Postdoctoral Position, University of Britis...",NaN
1567,"🇦🇺 Postdoctoral Position, Monash University, A...",NaN
1568,"🇦🇺 PhD Position, UNSW, Australia \n\n- Civil e...",NaN

In [29]:
with open('./names.json') as f:
    countries = json.load(f)

In [166]:
country_names = list(countries.values())

In [167]:
len(country_names)

250

In [ ]:
country_flags = countryflag.getflag([word])

In [159]:
positions['country'] = pd.Series(np.zeros(len(positions)))

In [203]:
def country_checker(text):
    words = text.split()
    for word in words:
        if word in country_flags:
            return word
        elif word in country_names:
            return countryflag.getflag([word])

In [204]:
positions['country'] = positions['text'].transform(country_checker)

In [206]:
positions.head(30)

,text,emails,country
2,🇺🇸 پوزیشن ارشد، دکتری و پست داک در دانشگاه کار...,yiwang@cec.sc.edu,🇺🇸
3,"🇨🇭 PhD Position, ETH Switzerland\n\n☑️",NaN,🇨🇭
4,"🇩🇪 Research Associate Position, University of ...",NaN,🇩🇪
5,"🇺🇸 Job Position, USA\n\n☑️ Power Electrical En...",NaN,🇺🇸
6,"🇩🇪 Research Associate Position, TU Dresden, Ge...",NaN,🇩🇪
7,🇺🇸 PhD Student Position in Eco-Immunology – Un...,NaN,🇺🇸
8,"🇺🇸 Postdoc positions, Arizona State University...",NaN,🇺🇸
9,"🇺🇸 PhD Position, The University of Texas at Da...",berrak.sisman@utdallas.edu,🇺🇸
10,"🇺🇸 PhD Position, Department of Civil and Envir...",NaN,🇺🇸
11,"🇨🇦 PhD/PostDoc Positions, Laval University Can...",NaN,🇨🇦
12,"🇨🇭🇮🇹 PhD and PostDoc Positions, University of ...",NaN,None
13,"🇨🇦 PhD position, Laurentian University, Canada...",mzeinali@laurentian.ca,🇨🇦
14,"🇦🇹 PhD Position, BOKU-University of Natural Re...",NaN,🇦🇹
15,🇨🇭 PhD Position in Precision Proteomics Center...,NaN,🇨🇭
16,"🇺🇸 PhD position, University of Rhode Island, U...",huilin@uri.edu,🇺🇸
17,"🇸🇪 Postdoc Position, Umea University, Sweden\n...",NaN,🇸🇪
18,"🇨🇦 PhD Position, University of Windsor, Canada...",NaN,🇨🇦
19,"🇪🇸 Researcher Position, Centre for Genomic Reg...",NaN,🇪🇸
20,"🇺🇸 PhD Position, Arkansas State University, US...",NaN,🇺🇸
21,"🇫🇷 Postdoc/Research Assistant Positions, CNRS,...",charlene.boumendil@igh.cnrs.fr,🇫🇷
22,"🇳🇴 PhD Position, NTNU, Norway\n\n☑️ AI and med...",NaN,🇳🇴
23,"🇺🇸 PhD Positions, Penn State University, USA\n...",NaN,🇺🇸
24,"🇬🇧 PhD Position, Herriot-Watt University, UK\n...",NaN,🇬🇧
25,"🇺🇸 PhD position, North Eastern University, USA...",j.zhu@northeastern.edu,🇺🇸
26,"🇨🇦 MSc Position, University of Northern Britis...",NaN,🇨🇦
27,"🇨🇭Two PhD Positions in Dairy Nutrition, ETH, S...",NaN,🇨🇭
28,🇨🇦🇫🇮 PhD Position in “Linking population genet...,NaN,None
29,🇨🇦 PhD and MSc Positions on “Affective & Socia...,NaN,🇨🇦
30,"🇨🇦 Phd Position, Brock University, Canada\n\n☑...",NaN,🇨🇦
31,🇩🇪 PhD Position in Neuroscience with a commitm...,NaN,🇩🇪

In [207]:
positions['grade'] = pd.Series(np.zeros(len(positions)))

In [219]:
grades = ['Msc', 'Master', 'PhD', 'Postdoctoral', 'Postdoc', 'Research', 'Researcher', 'Job']
def grade_checker(text):
    words = text.split()
    for word in words:
        if word in grades:
            if word in ['Msc', 'Master']:
                return 'Msc'
            if word in ['Postdoctoral', 'Postdoc']:
                return 'Postdoc'
            if word in ['Research', 'Researcher']:
                return 'RA'
            return word

In [226]:
positions['grade'] = positions['text'].transform(grade_checker)

In [228]:
sum(positions['grade'].isna())

296

In [229]:
sum(positions['country'].isna())

18

In [245]:
positions.to_csv('./positions.csv', sep=',', index=False, encoding='utf-8')

In [86]:
def scraping(series):
    result = {
        'PhD': [],
        'Postdoctoral': [],
        'Master': [],
        'Germany': [],
        'Canada': [],
        'Australia': [],
        'USA': [],
        'Switzerland': [],
    }
    for item in series:
        for key in result:
            if key in item:
                result[key].append(item)
    return result

In [88]:
scrp = scraping(positions['text'])

In [89]:
scrap = pd.DataFrame(scrp['PhD'], columns=['PhD'])

In [90]:
for item in scrp:
    scrap[item] = pd.Series(scrp[item])

In [91]:
scrap.to_csv('./clean_data.csv', sep=',', index=False, encoding='utf-8')

In [92]:
scrap

,PhD,Postdoctoral,Master,Germany,Canada,Australia,USA,Switzerland
0,"🇨🇭 PhD Position, ETH Switzerland\n\n☑️",🇨🇦 Postdoctoral Research Fellow Pharmaceutical...,"🇺🇸 MSc Positions at the WATER RESOURCES LAB, ...","🇩🇪 Research Associate Position, University of ...","🇨🇦 PhD/PostDoc Positions, Laval University Can...","🇦🇺 PhD Positions, University of Technology Syd...","🇺🇸 Job Position, USA\n\n☑️ Power Electrical En...","🇨🇭 PhD Position, ETH Switzerland\n\n☑️"
1,🇺🇸 PhD Student Position in Eco-Immunology – Un...,🇺🇸 Postdoctoral Position at National Cancer In...,🇦🇪 Structural Control Research Associate Posit...,"🇩🇪 Research Associate Position, TU Dresden, Ge...","🇨🇦 PhD position, Laurentian University, Canada...","🇦🇺 PhD Positions, University of Sydney, Austra...","🇺🇸 Postdoc positions, Arizona State University...","🇨🇭Two PhD Positions in Dairy Nutrition, ETH, S..."
2,"🇺🇸 PhD Position, The University of Texas at Da...","🇨🇦 Postdoc Position, UBC, Canada\n\n☑️ Chemica...","🇺🇸 PhD/Master positions, Mississippi State Uni...","🇩🇪 PhD Position, Heidelberg University, German...","🇨🇦 PhD Position, University of Windsor, Canada...","🇬🇸 Postdoc Position, Monash University, Austra...","🇺🇸 PhD position, University of Rhode Island, U...","🇨🇭 PhD Position, University of Neuchâtel, Swit..."
3,"🇺🇸 PhD Position, Department of Civil and Envir...",🇨🇭Postdoctoral Position at EPFL: Nanophotonic ...,"🇺🇸 Funded Master position, Oregon State Univer...","🇩🇪 Ph.D. Positions---in Numerical Analysis, Te...","🇨🇦 MSc Position, University of Northern Britis...","🇭🇲 Fully Funded PhD Positions, Western Sydney ...","🇺🇸 PhD Position, Arkansas State University, US...","🇨🇭PhD Position, Department of Organic Chemistr..."
4,"🇨🇦 PhD/PostDoc Positions, Laval University Can...","🇺🇲 Postdoc Position, University of Louisville,...",🇨🇦 Postdoc and Graduate Students (Master’s and...,🇩🇪 PhD Position in microwave engineering at Un...,🇨🇦 PhD and MSc Positions on “Affective & Socia...,"🇭🇲 PhD Position, Edith Cowan University, Austr...","🇺🇸 PhD Positions, Penn State University, USA\n...","🇨🇭🇫🇷 PhD position, University of Fribourg, UBF..."
...,...,...,...,...,...,...,...,...
1227,"🇨🇦 PhD Position, University of British Columbi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1228,"🇺🇸 PhD Position, University of Tennessee at Ch...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1229,"🇦🇹 PhD Position, Austrian Center for Medical I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1230,"🇺🇸 PhD Position, North Carolina A&T State Univ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1231,"🇦🇺 PhD Position, UNSW, Australia \n\n- Civil e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
import flag

In [243]:
flag.flagize('Iran')

'Iran'